html {
height: 100%;
}
body {
/* gradient thing */
background-image: linear-gradient(#FFFFFF, rgb(0, 27, 115));
}
/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#Dashboard {background-color:blue;}
#Commands {background-color:black;}
#Tetris {background-color:blue;}
#Github {background-color:black;}

/*tetris mini game from  https://levelup.gitconnected.com/build-a-tetris-game-with-html-canvas-css-and-javascript-on-autocode-132c8346e60c*/
body {
  padding-top: 1em;
  text-align: center;
  background-size: cover;
}

h2,
h3,
h4 {
  font-family: "Press Start 2P", monospace;
  color: white;
}
p {
  font-family: "Press Start 2P", monospace;
  line-height: 1.5;
  color: white;
  font-size: 15px;
}

#tetris {
  border: solid 0.2em white;
  background-color: black;
}
#score {
  font-family: "Press Start 2P", monospace;
  color: white;
}

#start {
  background-color: blue;
  color: white;
  padding: 0.5em;
  margin: 0px 0px 25px 0px;
  font-family: "Press Start 2P", monospace;
}

#reset {
  background-color: red;
  color: white;
  padding: 0.5em;
  margin: 0px 0px 25px 0px;
  font-family: "Press Start 2P", monospace;
}

#instructions {
  background-color: purple;
  color: white;
  padding: 0.5em;
  margin: 0px 0px 25px 0px;
  font-family: "Press Start 2P", monospace;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
